/* Mobile devices (up to 640px) */
@media only screen and (max-width: 640px) {
     .grid {
       grid-template-columns: 1fr;
       grid-template-rows: auto auto;
     }
     .p-6 {
       padding: 2rem;
     }
     .w-72 {
       width: 100%;
       max-width: 300px;
     }
     .h-96 {
       height: auto;
       max-height: 400px;
     }
     .text-xl {
       font-size: 1.5rem;
     }
     .text-sm {
       font-size: 0.875rem;
     }
     .pb-6 {
       padding-bottom: 1.5rem;
     }
     .py-2{
       padding-top: 0.625rem;
       padding-bottom: 0.625rem;
     }
}